<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Article</title>
  </head>

  <body>
    <
    <form action="/articles/new/post" method="post">
      <label for="article">Article </label><br>
      <input type="text" id="article" name="article"><br>






      <label for="url"> Url: </label><br>
      <input type="text" id="url" name="url"><br>





      <label for="description">Description: </label><br>
      <input type="text" id="description" name="description"><br>

      <input type="submit">
    </form>


  </body>
</html>
